<script src="//maps.google.com/maps/api/js?key=AIzaSyDVUr1QRLQFdjKGNQzvdWKoYCW9W37qxSw"></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

    <div class="jumbotron">
      <h1>SmartSchool</h1>
      <p>Ваш помощник в управлении образовательным учреждением</p>
      <p><a class="btn btn-primary btn-lg" href="/grades" role="button">Электронный дневник</a>
      <a class="btn btn-primary btn-lg" href="/" role="button">Рассылка</a></p>

      <div style='width: 100%;'>
        <div id="map" style='width: auto; height: 400px;'></div>
      </div>
    </div>

      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
          markers = handler.addMarkers(<%=raw @hash.to_json %>);
          markersq = handler.addMarkers(<%=raw @hash1.to_json %>);
          handler.bounds.extendWith(markers);
          handler.bounds.extendWith(markersq);
          handler.fitMapToBounds();
        });
      </script>